<!DOCTYPE html>
<html>
<head>
    <title>Your Bookings</title>
    <style>
        
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

th {
    background-color: #f5f5f5;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.client-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-heading {
    margin: 0;
}

.edit-button {
    font-size: 12px;
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
}

.edit-button:hover {
    text-decoration: underline;
}

    </style>
</head>
<body>
    <header>
        <h1>Your Bookings</h1>
    </header>

    <div class="container">
        <table>
            <tr>
                <th>Service</th>
                <th>Procider</th>
                <th>Status</th>
            </tr>
            <% if (req.session.userType == 'client') { %>
            <% if(service.length>0) { %>
            <% for (var i = 0; i < service.length; i++) { %>
            <tr>
                <td><%- service[i].service_name %></td>
                <td><%- service[i].p_name%></td>
                <td>Confirmed</td>
            </tr>
            <% } %>
            <% } else { %>
                <tr>
                    <td>Data not found</td>
                </tr>
            <% } %>
        </table>
        <% } else { %>
            <script>
                window.location.href = '/register'; // Redirect to the registration page
            </script>
        <% } %>
    </div>
</body>
</html>
